@import "tailwindcss";

@theme {
  --font-sans: "Instrument Sans", system-ui, sans-serif;
  --font-serif: "Instrument Serif", Georgia, serif;
}

html,
body {
  min-height: 100%;
}

body {
  @apply bg-neutral-900 font-sans font-normal text-neutral-50;
}

h1 {
  @apply text-4xl font-serif;
}

h2 {
  @apply text-3xl font-serif;
}

a {
  @apply underline;
}
