@import "tailwindcss";

@theme {
  --font-sans: "Instrument Sans", system-ui, sans-serif;
  --font-serif: "Instrument Serif", Georgia, serif;
}

/* Base */

@layer base {
  section {
    @apply py-9 flex-col;

    &.jumbo {
      @apply py-18 flex-col-reverse md:flex-row;
    }
  }
}

/* Overrides */

html,
body {
  min-height: 100%;
  @apply max-md:text-balance;
}

h1 {
  @apply text-4xl font-serif;
}

h2 {
  @apply text-3xl font-serif;
}

a {
  @apply underline;
}

section {
  @apply px-6 md:px-36 flex w-full gap-6 border-b border-neutral-700;
}
