<div>
  <p>
    Presented by Reuben Hu <i>(Benjamin Foster Bearington)</i>
  </p>
  <p>#BlueHorizon Never Dies 💙</p>
</div>

<style>
  div {
    min-width: 100svh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
  }
  p {
    color: var(--blue-horizon);
    text-decoration: none;
    font-weight: 800;
    font-stretch: semi-condensed;
    max-width: fit-content;
    font-size: 1rem;
    margin: 1rem 4rem;
  }
</style>
