<div>
  <p>
    UNDER CONSTURCTION! USE <a href="https://bento.me/reubenhu"
      >HTTPS://BENTO.ME/REUBENHU</a
    > IN THE MEAN TIME!
  </p>
</div>

<style>
  div {
    min-width: 100svh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    padding: 0.5rem;
  }
  p,
  a {
    color: var(--blue-horizon);
    font-stretch: semi-condensed;
    max-width: fit-content;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }
  a {
    font-weight: 800;
  }
</style>
