---
import Navigation from "../components/navigation.astro";
import Footer from "../components/footer.astro";
import UnderConstruction from "../components/underConstruction.astro";
// Global Var
import { globalVar } from "../globalVar";
// CSS
import GlobalStyling from "../styles/global.astro";
import Colors from "../styles/colors.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{pageTitle} - {globalVar.title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wdth,wght@0,75..125,200..900;1,75..125,200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <UnderConstruction />
    <Navigation />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<GlobalStyling />
<Colors />
